/* TYPOGRAPHY */
p {
  font-family: 'EB Garamond', serif !important;
  font-size: 1.5em;
}

.cafe-title-link {
  cursor: pointer;
  text-decoration: none !important;
}

.scrollDown-icon {
  margin-top: 5%;
  margin-bottom: 10%;
}

.fa-map-marker-alt {
  color: red;
}

header {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

 .cafe-title {
  font-size: 6em;
  color: white;
  font-weight: bold;
  font-family: 'Lovers Quarrel', cursive;
  text-align: center;
  margin-top: 3%;
  text-shadow: 3px 3px black;

}

.hero-text {
  color: white;
  position: absolute;
  text-transform: uppercase;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
      background: #000000ba;
    padding-right: 20px;
    padding-left: 20px;
}


.hero-title {
  font-size: 4.5em;
  font-family: 'Alice', serif;
}



/* ALL SECTIONS IN PAGES */

.first-section {
  text-align: center;
  margin-top: 5%;
  padding: 10px;
}

.first-section-title {
  font-size: 4.5em;
  margin-bottom: 5%;
  font-family: 'Lovers Quarrel', cursive;
}

.second-section {
  margin-top: 5%;
  padding: 10px;
}

.second-section-title {
  font-family: 'Lovers Quarrel', cursive;
  text-align: center;
  padding-top: 20px;
  font-size: 4.5em;
  margin-bottom: 20px;
}


/* FOOTER STYLE */
footer {
  border: 1px solid black;
  background-color:   #ffcce6;
  text-align: center;
  padding: 20px;
  padding-right: 15%;
  font-family: 'Alice', serif;
  font-size: 1.4em;
  margin: 30px 1px 1px 1px;
}

footer li {
  margin-bottom: -3px;
  list-style: none;
}




/* MEDIA QUERY PORTARIT MODE SMALL MOBILE */
@media only screen 
  and (max-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .hero-title {
  font-size: 3.2em;
  }
}


/* MEDIA QUERY PORTARIT MODE MOBILE */
@media only screen 
  and (max-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

   .hero-title {
  font-size: 3.1em;
  }
}


/* MEDIA QUERY FOR TABLET VERSION */

@media screen and (min-width: 768px) { 
  p {
   font-size: 2em;
  }

  header {
    height: 750px;
  }

  .cafe-title {
    font-size: 18em;
    color: white;
    font-weight: bold;
    font-family: 'Lovers Quarrel', cursive;
    text-align: center;
    margin-top: -5%;
    text-shadow: 4px 4px black;
 }

  .hero-title {
    font-size: 8em !important;
  }

 .hero-text {
  top: 80%;
 }

 .first-section-title{
  font-size: 6.5em !important; 
 }

 .second-section-title {
    font-size: 6.5em !important;
  }

  footer {
    font-size: 2em;
    padding-right: 55px;
  }

   footer ul li { 
    display: inline;
    margin-left: 30px;
    list-style: none;
  }

}


@media screen and (min-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  
    header {
      height: 100vh !important;
   }
}



/* MEDIA QUERY FOR DESKTOP VERSION */


@media screen and (min-width: 1025px) {  

   header {
    height: 100vh;
  }

   .hero-text {
    top: 85%;

   }

   footer {
    font-size: 2.5em;
    padding: 30px;
    padding-right: 15%;
  }

  footer ul li { 
    display: inline;
    margin-left: 50px;
    list-style: none;
  }

}



