#contact-header-image {
  background-image: url('../Images/outsidecafe.jpg');
}


/* CONTACT FORM */

input {
  	outline-style: none;
  	width: 300px;
  	border: none;
  	font-weight: normal;
}

input::placeholder, textarea::placeholder {
	color: darkgrey;
}

.input-contact {
	border: 1px solid black;
	margin-bottom: 10px;
	font-size: 1.7em;
	margin-left: 15px;
	padding-top: 8px;
}

textarea {
	height: 130px;
	outline-style: none;
}


.contact-form-button {
	text-align: center;
	font-size: 1.4em;
	padding: 8px;
	border: 1px solid black;
	background: #ccfff2;
	margin-left: 4%;
}

/* GDPR checkbox */
.checkbox {
	width: 100%;
}

.terms-text {
	font-size: 0.7em;
	width: 100%;
	margin-left: -8%;
}


/* MAP */

.contact-map {
  margin-bottom: 10%;
}

.map-location-adress {
	padding: 10px;
	font-weight: bold;
	font-size: 1.5em;
}




/* MEDIA QUERY FOR TABLET VERSION */

@media screen and (min-width: 768px) { 
 .input-contact {
	font-size: 2.8em;
	padding-top: 12px;
 }

 textarea {
	height: 250px;
 }

 .contact-form-button {
	font-size: 2.4em;
	margin-left: 7%;
	padding: 10px;	
  }

 .checkbox-gdpr {
	margin-left: -5%;
}

.terms-text {
	font-size: 1em;
	width: 100%;
	margin-left: -8%;
}


}

@media screen and (min-width: 1025px) {
    .contact-form-button {
	margin-left: 23.5%;
  }


.checkbox-gdpr {
	margin-left: 0;
	font-size: 6em;
	margin-top: 3px;
}

.terms-text {
	font-size: 1em;
	width: 100%;
	margin-left: -14%;
}

}


