a
{
  text-decoration: none;
  color: white !important;
  
  transition: color 0.3s ease;
}

#menu-toggle
{
  display: block;
  position: relative;
  padding-top: 20px;
  padding-left: 20px;  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}
#menu-toggle input
{
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}
#menu-toggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menu-toggle span:first-child
{
  transform-origin: 0% 0%;
}
#menu-toggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menu-toggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}
/*
 * But let's hide the middle one.
 */
#menu-toggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/*
 * Ohyeah and the last one should go the other direction
 */
#menu-toggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  height: 100vh;
  width: 220px;
  margin: -100px 0 0 -50px;
  padding: 60px;
  padding-top: 150px;
  background: rgba(0,0,0,0.75);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  text-transform: uppercase;
}
#menu li {
  text-align: center;
  margin-top: 50px;
  font-size: 22px;
}
/*
 * And let's slide it in from the left
 */
#menu-toggle input:checked ~ ul
{
  transform: none;

}


/* MEDIA QUERY PORTARIT MODE SMALL MOBILE */
@media only screen 
  and (max-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    #menu {
      height: 453px !important;
      padding-left: 80px !important;
    }

     #menu li {
      margin-top: 25px;
      font-size: 2em;
    }
}

/* MEDIA QUERY LANDSCAPE MODE SMALL MOBILE */
@media only screen 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

   #menu {
      width: 598px;
      height: 50px;
      padding-top: 100px;
      padding-left: 150px;
     }

     #menu li {
      display: inline;
      margin-left: 30px;
      list-style: none;
      font-size: 2em;
    }




}



/* MEDIA QUERY PORTARIT MODE MOBILE */
@media only screen 
  and (max-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .menu-card {
      margin-top: -215%;
    }

    #menu {
      height: 452px !important;
      padding-top: 100px;
   }

   #menu li {
    margin-top: 40px; 
   }
}



/* MEDIA QUERY LANDSCAPE MODE MOBILE */
@media only screen 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .menu-card {
      margin-top: -215%;
    }

   #menu  {
    width: 700px;
    height: 60px;
    padding-top: 80px;
    padding-left: 150px;
    }

       #menu li {
      display: inline;
      margin-left: 30px;
      list-style: none;
      font-size: 2em;
    }

}




/*Media Query for landskape mode on tablet*/
@media screen and (min-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  
    #menu {
      height: 790px !important;
   }
}


/* MEDIA QUERY FOR TABLET VERSION */

@media screen and (min-width: 768px) {

    #menu-toggle span {
      width: 55px;
      height: 7px;
      margin-bottom: 9px;
    }

    #menu-toggle {
      padding-top: 30px;
      padding-left: 30px;
    }

    #menu {
      height: 770px;
      width: 280px;
      z-index: 10px;
   }

   #menu li {
      text-align: center;
      margin-top: 80px;
      font-size: 30px;
    }

}


/* MEDIA QUERY FOR DESKTOP VERSION */

@media screen and (min-width: 1025px) {
    #menu {
     height: 720px !important;
   }

  
   #menu li {
      margin-top: 60px;
    }

}